html{
    min-height: 80%;
    min-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100%;
    width: 100%;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100%;
    width: 100%;
    font-size: 25px;
}
.jlpt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
select {
    width: 80px;
    height: 25px;
}
.speed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
input {
    width: 72px;
    height: 20px;
}
.id{
    margin-top: 25px;
    margin-bottom: 25px;
}
#speed{
    margin-top: 25px;
    margin-bottom: 25px;
}
.kanji{
    font-size: 100px;
}